.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;

.title-section {
    font-weight: 700;
    font-size: 24px;
    color: #2f2f51;
    text-align: center;
  }
}