.header {
  background-color: rgb(247, 230, 237);
  padding: 17px 1px;
}
.header-wrapper {
display: flex;
align-items: center;
justify-content: space-between;
}
.link {
  margin-right: 40px;
}
.header-navigation {
  display: flex;}
.button {
  display: inline-flex;
  align-items: center;
    margin-right: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}
.button-one {
background-color: rgb(238, 156, 105);
}
.button-two {
background-color: rgb(127, 127, 243);
}
.button-icon {
  margin-right: 12px;
}
