* {
  box-sizing: border-box;
}
.services {
  background: #F2F2F2;;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 48px;
}
.services-list-item {
  background: url(../images/services/fon1.jpg);
  background: url(../images/services/fon 2.jpg);
  background: url(../images/services/fon 3.jpg);
  background: url(../images/services/fon 4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 49%;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: 50px;
  padding-right: 150px;
  }
  .services-list-item:hover {
    color: blueviolet;
  }
.inner-top {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.inner-top-title {
  margin-left: 20px;
}
.inner-description {
  line-height: 19px;
}
